.git
*.git
lib/ljsyscall/doc
lib/ljsyscall/examples
lib/ljsyscall/rockspec
lib/ljsyscall/test
lib/ljsyscall/include
lib/ljsyscall/syscall/bsd
lib/ljsyscall/syscall/freebsd
lib/ljsyscall/syscall/netbsd
lib/ljsyscall/syscall/openbsd
lib/ljsyscall/syscall/osx
lib/ljsyscall/syscall/rump
lib/ljsyscall/syscall/linux/arm
lib/ljsyscall/syscall/linux/arm64
lib/ljsyscall/syscall/linux/mips
lib/ljsyscall/syscall/linux/ppc
lib/ljsyscall/syscall/linux/x86
